@font-face {
  font-family: "Comic Mono";
  src: url("/fonts/ComicMono.ttf");
}

* {
  font-family: "Comic Mono", monospace;
}

.monospace {
  font-family: "Monospace", monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.bg-stripes {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}
